# dependencies
node_modules

# next.js
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# misc
.DS_Store



# project ssh keys
.ssh_lubbock
.ssh_lubbock.pub
